# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\ariel\Desktop\Faculta\ANUL 2\S2\SE\30323_2_muresan_iulia_se_labs\Proiect_fn\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
